

html, body {
    height: 100%;
    margin: 0;
    padding-right: 150px;
}
* {
    box-sizing: border-box;
}
body{
    background-color: black;
}
topstuff { text-align: center; position: fixed; z-index: 3; font-family:Audiowide;}

.drawingboard {
    height: 100%;
    width: 100%;
    float:left;
    z-index: 1;
    overflow: scroll;
    background-color: white;
    position: absolute;
    border: 5px solid;

}

.color.white{ background-color: white;  }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }

.color.black { background-color: black; }
.color.red { background-color: red; }

.btn{
    margin: 0px;
}
.colors {
position:absolute;
z-index: 2;
       border: 5px solid #000;
    background-color: palegreen;
    margin-top: 100px;
    width: 150px;
    padding: 5px;
}

.color {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 5px;
    border:1px solid black;
    position: absolute;
    float: right;

}
